@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);





body {
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.64rem;
}
.display-5 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-7 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.32rem;
    font-size: calc( 0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  color: initial;
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffda73 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffda73 !important;
  border-color: #ffda73 !important;
  color: #735500 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #735500 !important;
  background-color: #ffc626 !important;
  border-color: #ffc626 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #735500 !important;
  background-color: #ffc626 !important;
  border-color: #ffc626 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #256e9d !important;
  border-color: #256e9d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #256e9d !important;
  border-color: #256e9d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #36d88a !important;
  border-color: #36d88a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #1fa263 !important;
  border-color: #1fa263 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1fa263 !important;
  border-color: #1fa263 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #ffbf0d;
  color: #ffbf0d !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #735500 !important;
  background-color: #ffda73;
  border-color: #ffda73;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #735500 !important;
  background-color: #ffda73 !important;
  border-color: #ffda73 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #215f88;
  color: #215f88 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #3e97d1;
  border-color: #3e97d1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #992700;
  color: #992700 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1b8d56;
  color: #1b8d56 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #36d88a;
  border-color: #36d88a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffda73 !important;
}
.text-secondary {
  color: #3e97d1 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffbf0d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #215f88 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffda73;
  border-color: #ffda73;
  color: #8c6700;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffda73;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a {
  background: #ffc173;
  opacity: .5;
}
#scrollToTop a:hover {
  opacity: .7;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #000000;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: #ffc173;
  opacity: .5;
  transition: .3s;
}
.mbr-arrow a {
  color: #000000;
}
.mbr-arrow:hover {
  opacity: .7;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffda73;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form1 .input-group-btn a.btn {
  border-radius: 0 !important;
}
.form1 .input-group-btn button[type="submit"] {
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffda73;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffda73;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffda73;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffda73;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qDMizAaEYy {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qDJIVKUJgS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qDJIVKUJgS .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qDJIVKUJgS .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qDJIVKUJgS .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qDJIVKUJgS .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qDJIVKUJgS .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qDJIVKUJgS .mbr-gallery-item > div:hover::before {
  opacity: 0.3 !important;
}
.cid-qDJIVKUJgS .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #444444;
}
.cid-qDJIVKUJgS .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-qDJIVKUJgS .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-qDJIVKUJgS .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00;
}
.cid-qDJIVKUJgS .mbr-gallery-filter ul {
  display: block;
}
.cid-qDJIVKUJgS .mbr-gallery-filter ul li {
  position: relative;
}
.cid-qDJIVKUJgS .mbr-gallery-filter li.active .btn {
  color: #ffbc00;
  background: transparent;
}
.cid-qDJIVKUJgS .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00;
}
.cid-qDJIVKUJgS .mbr-gallery-filter li.active::after,
.cid-qDJIVKUJgS .mbr-gallery-filter li:hover::after {
  transform: translateX(-50%) scale(1);
  background: #ffbc00;
}
.cid-qDJIVKUJgS .mbr-gallery-title {
  transition: all.3s;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  top: -2rem;
  right: 0;
  text-align: right;
  padding: 1rem;
  color: #fff;
  background: transparent;
}
.cid-qDJIVKUJgS .mbr-gallery-item > div:hover .mbr-gallery-title {
  top: 0;
  right: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}
.cid-qDJIVKUJgS .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-qDJIVKUJgS .icon-focus:before {
  content: '\e95e';
}
.cid-qDJIVKUJgS .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-qDJIVKUJgS .mbr-section-title {
  margin: 0;
}
.cid-qDJIVKUJgS .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qDJIVKUJgS .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qNCL6OP6n3 {
  background-image: url("../../../assets/images/capa-1-750x1334.png");
}
.cid-qNCL6OP6n3 .mbr-text,
.cid-qNCL6OP6n3 .typed-text,
.cid-qNCL6OP6n3 .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qNCL6OP6n3 .btn {
  margin-left: 4px !important;
}
.cid-qNCL6OP6n3 .animated-element {
  color: #ffbc00;
}
.cid-qNCL6OP6n3 .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-qNCL6OP6n3 .mbr-section-title {
  text-align: left;
  color: #fdfdfd;
}
.cid-qNCL6OP6n3 SPAN {
  color: #ffffff;
}
.cid-qNCL6OP6n3 .mbr-section-text,
.cid-qNCL6OP6n3 .mbr-section-btn {
  color: #ffffff;
}
.cid-qDJFQzYg60 {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-qDJFQzYg60 a:link {
  text-decoration: none;
}
.cid-qDJFQzYg60 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qDJFQzYg60 .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-qDJFQzYg60 .inner-text {
  line-height: 3em;
}
.cid-qDJFQzYg60 .social-media {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.cid-qDJFQzYg60 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qDJFQzYg60 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qDJFQzYg60 .content-text,
.cid-qDJFQzYg60 .inner-text {
  color: #c1c1c1;
}
.cid-qDJLudAzVT {
  background-image: url("../../../assets/images/capa-2-4-660x1174.png");
}
.cid-qDJLudAzVT .mbr-text,
.cid-qDJLudAzVT .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qDJLudAzVT .mbr-section-title {
  margin-left: -0.2rem;
}
.cid-qDJLudAzVT .mbr-section-title span {
  color: #ffbc00;
}
.cid-qDJLudAzVT .btn {
  margin: .4rem 4px !important;
}
@media (max-width: 767px) {
  .cid-qDJLudAzVT .mbr-section-title {
    margin-left: -0.8rem;
  }
}
.cid-qDKzc9bNdC {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qDJQdw8Gmt {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qDJQdw8Gmt blockquote {
  color: #232323;
  font-size: inherit;
  font-style: normal;
}
.cid-qDJQdw8Gmt .mbr-iconfont {
  z-index: 1;
  position: absolute;
  font-size: 9rem;
  color: #ff4100;
  opacity: .1;
}
.cid-qDJQdw8Gmt .mbr-iconfont.right-top {
  right: -1rem;
  top: -1rem;
}
.cid-qDJOjkUDT2 {
  background: #ffffff;
  background: linear-gradient(45deg, #ffffff, #b2ccd2);
}
.cid-qDJOjkUDT2 .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-qDJOjkUDT2 .video-block {
    width: 100% !important;
  }
}
.cid-qDKrvrLVy4 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qNCJSwV9Gi {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qNCJSwV9Gi .card-title {
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0;
  padding: 0;
}
.cid-qNCJSwV9Gi .card {
  margin-bottom: 2rem;
}
.cid-qNCJSwV9Gi .card-box {
  word-break: break-word;
  padding-top: 2rem;
}
.cid-qNCJSwV9Gi .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-qNCJSwV9Gi .btn {
  margin: .3rem;
}
.cid-qNCJSwV9Gi .mbr-section-title {
  margin: 0;
}
.cid-qNCJSwV9Gi .card-underline,
.cid-qNCJSwV9Gi .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qNCJSwV9Gi .card-underline .line,
.cid-qNCJSwV9Gi .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qNCJSwV9Gi .card-underline {
  margin-bottom: 1.5rem;
  margin-top: 0 !important;
}
.cid-qNCJSwV9Gi .card-underline .line {
  background: #ffbc00;
}
@media (max-width: 767px) {
  .cid-qNCJSwV9Gi .row.blog-block {
    padding: 0 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qNCJSwV9Gi .row-content {
    min-width: 100%;
  }
  .cid-qNCJSwV9Gi .card {
    display: block;
  }
}
.cid-qDKvX4NwmH {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f4f0f0;
}
.cid-qNIjWMIKRE {
  padding-top: 15px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/capa-2-4-660x1174.png");
}
.cid-qNIjWMIKRE .mbr-section-title {
  margin: 0;
}
.cid-qNIjWMIKRE .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qNIjWMIKRE .underline .line {
  width: 3rem;
  height: 2px;
  background: #ffffff;
  display: inline-block;
}
.cid-qNIjWMIKRE .slider-testimonials {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
  text-align: center;
}
.cid-qNIjWMIKRE .carousel-item {
  justify-content: center;
}
.cid-qNIjWMIKRE .carousel-item.active,
.cid-qNIjWMIKRE .carousel-item-next,
.cid-qNIjWMIKRE .carousel-item-prev {
  display: flex;
}
.cid-qNIjWMIKRE .carousel-control {
  transition: all .3s;
  opacity: 1;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 46%;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qNIjWMIKRE .carousel-control.carousel-control-prev {
  left: -25px;
}
.cid-qNIjWMIKRE .carousel-control.carousel-control-prev:hover {
  left: -30px;
}
.cid-qNIjWMIKRE .carousel-control.carousel-control-next {
  right: -25px;
}
.cid-qNIjWMIKRE .carousel-control.carousel-control-next:hover {
  right: -30px;
}
.cid-qNIjWMIKRE .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qNIjWMIKRE .carousel-control:hover {
  background-color: #ffda73;
}
.cid-qNIjWMIKRE .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-qNIjWMIKRE .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 767px) {
  .cid-qNIjWMIKRE .carousel-control-prev,
  .cid-qNIjWMIKRE .carousel-control-next {
    display: none;
  }
  .cid-qNIjWMIKRE .mbr-section-title {
    padding-bottom: 0;
  }
  .cid-qNIjWMIKRE .slider-testimonials {
    padding: 2rem 1rem;
  }
}
@media (max-width: 230px) {
  .cid-qNIjWMIKRE .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-qNIjWMIKRE .carousel-row:hover .carousel-control {
  visibility: visible;
}
.cid-qNIjWMIKRE .user_name,
.cid-qNIjWMIKRE .user_desk {
  text-align: right;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qNIjWMIKRE .slider-testimonials {
    min-width: 100%;
    outline: 15px solid rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .cid-qNIjWMIKRE .carousel-control-prev {
    left: -40px !important;
  }
  .cid-qNIjWMIKRE .carousel-control-prev:hover {
    left: -45px !important;
  }
  .cid-qNIjWMIKRE .carousel-control-next {
    right: -40px !important;
  }
  .cid-qNIjWMIKRE .carousel-control-next:hover {
    right: -45px !important;
  }
}
.cid-qDKwTOlT7T {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qDU1qmgN4I {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qDU1qmgN4I .mbr-iconfont {
  font-size: 34px;
  transition: color .3s;
}
.cid-qDU1qmgN4I .mbr-section-title {
  margin: 0;
}
.cid-qDU1qmgN4I .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qDU1qmgN4I .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qDU1qmgN4I .card-img {
  text-align: left;
}
.cid-qDU1qmgN4I .row-item {
  padding-bottom: 2rem;
}
.cid-qDU1qmgN4I .row-item:hover .card-img .mbr-iconfont {
  color: #ffbc00 !important;
}
@media (max-width: 767px) {
  .cid-qDU1qmgN4I .card-img,
  .cid-qDU1qmgN4I .mbr-text,
  .cid-qDU1qmgN4I .mbr-card-title,
  .cid-qDU1qmgN4I .mbr-section-subtitle,
  .cid-qDU1qmgN4I .mbr-section-title,
  .cid-qDU1qmgN4I .underline {
    text-align: center !important;
  }
}
.cid-qDUMaYj1yD {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qDUMaYj1yD blockquote {
  color: #232323;
  font-size: inherit;
  font-style: normal;
}
.cid-qDUMaYj1yD .mbr-iconfont {
  z-index: 1;
  position: absolute;
  font-size: 9rem;
  color: #232323;
  opacity: .1;
}
.cid-qDUMaYj1yD .mbr-iconfont.right-top {
  right: -1rem;
  top: -1rem;
}
.cid-qDUKgg2NpW {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qDUKgg2NpW .mbr-text,
.cid-qDUKgg2NpW .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qDUKgg2NpW .mbr-section-title {
  margin-left: -0.2rem;
  color: #ffffff;
}
.cid-qDUKgg2NpW .mbr-section-title span {
  color: #ffbc00;
}
.cid-qDUKgg2NpW .btn {
  margin: .4rem 4px !important;
}
@media (max-width: 767px) {
  .cid-qDUKgg2NpW .mbr-section-title {
    margin-left: -0.8rem;
  }
}
.cid-qDUKgg2NpW .mbr-section-subtitle,
.cid-qDUKgg2NpW .mbr-section-btn {
  color: #ffda73;
  text-align: center;
}
